.task-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;

  &__field {
    max-width: 500px;
  }

  &__button {
    align-self: flex-start;
    min-width: 80px;
  }

  &__plus {
    align-self: flex-start;
  }
}
